<%= form_with(model: @note) do |form| %>
  <% if @note.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% @note.errors.each do |attribute, message| %>
          <li><%= "#{attribute.to_s.humanize} #{message}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="form-group mx-3 my-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group mx-3 my-3">
    <%= form.label :text, class: "form-label" %>
    <!-- Markdown редактор -->
    <%= form.text_area :text, class: "form-control border border-dark markdown-editor", id: "markdown-editor", rows: 13, placeholder: "Введите текст с использованием Markdown" %>
  </div>

  <!-- Превью Markdown -->
  <div id="markdown-preview" class="markdown-preview form-control" style="margin: 15px 0;"></div>

  <div class="form-group mx-3 my-3">
    <%= form.label :tags, class: "form-label" %>
    <% if @note.persisted? %>
      <%= form.text_field :tags, class: "form-control", value: format_tags(json_filter(@note.tags)) %>
    <% else %>
      <%= form.text_field :tags, class: "form-control", placeholder: "#tag #another-tag #more-tags" %>
    <% end %>
  </div>

  <% if notes_recaptcha %>
    <%= recaptcha_tags %>
  <% end %>

  <div class="form-group mx-3 mt-3">
    <%= form.submit "Submit", class: "btn btn-primary my-3" %> <%= link_to "Back to notes", home_index_path, class: 'btn btn-primary' %>
  </div>

  <!-- Подключаем библиотеку Showdown.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          var converter = new showdown.Converter();
          var markdownInput = document.querySelector('.markdown-editor');
          var markdownPreview = document.getElementById('markdown-preview');

          // Показываем превью при загрузке страницы
          var initialMarkdownText = markdownInput.value;
          var initialHtmlText = converter.makeHtml(initialMarkdownText);
          markdownPreview.innerHTML = initialHtmlText;

          // Обновляем превью при вводе текста в редакторе
          markdownInput.addEventListener('input', function() {
              var markdownText = markdownInput.value;
              var htmlText = converter.makeHtml(markdownText);
              markdownPreview.innerHTML = htmlText;
          });
      });
  </script>
<% end %>
