<nav class="navbar navbar-expand-lg bg-light border-bottom border-body">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', home_index_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>

      <a class="navbar-brand mx-auto text-center fw-bold fs-4" href="#">Notes</a>

      <ul class="navbar-nav me-1 mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <button class="dropdown-toggle w-auto h-auto d-inline-block rounded-circle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                           
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", user_path(current_user), class: "dropdown-item" %></li>
            <li><a class="dropdown-item" href="#" aria-current="true">Active link</a></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/search" method="GET">
        <%= form_with(url: notes_list_path, method: "get", class: "d-flex") do |form| %>
          <%= form.text_field :query, class: "form-control me-2", placeholder: "Search", aria_label: "Search" %>

          <%= form.select :search_type, options_for_select(["По словам", "По тегу"], "word"), { class: "form-select me-2" } %>

          <%= form.submit "Search", class: "btn btn-outline-success" %>
        <% end %>

        <% tags = Note.pluck(:tags).join(' ').split.uniq %>

        
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Результаты поиска
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              
              <% @notes.each do |note| %>
                <% if params[:query].present? %>
                  <% note.tags.each do |tag| %>
                  <%= tag %>
                    <% tag = tag.gsub('#', '').strip %>  
                    <% if tag == params[:query] %>
                      <li>
                        <%= link_to note.title, edit_note_path(note), class: "dropdown-item" %>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>

            </ul>
          </div>
      </form>
    </div>
  </div>
</nav>