<% if notice.present? %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>


<div>
  

  
</div>

<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h5><%= @user.name %></h5>
              <p><%  %></p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1 text-center">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted"><%= @user.email %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Username</h6>
                    <p class="text-muted"><%= @user.username %></p>
                  </div>
                </div>
                <h6>Notes</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1 text-center">
                  <div class="col-6 mb-3">
                    <h6>Notes was created</h6>
                    <p class="text-muted"><%= @user.note_ids.count %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Most Viewed</h6>
                    <p class="text-muted">Dolor sit amet</p>
                  </div>
                </div class="text-decoration-none text-center mt-4" >
                <%= link_to "Edit this user", edit_user_path(@user), class: 'btn btn-primary' %>   <%= link_to "Back to notes", home_index_path, class: 'btn btn-primary' %>   <%= link_to "Destroy user", @user, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
                <div>
                  <%= link_to 'Change password', edit_user_registration_path, class: 'text-decoration-none text-center mt-4' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>