<% require "nokogiri" %>

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="card position-absolute top-50 start-50 translate-middle">
    <div class="card-body text-center">
      <div class="mb-3">
        <%= f.label :email, class: "form-label", for: "exampleInputEmail1"  %><br />
        <%= f.email_field :email, class: "form-control", id: "exampleInputEmail1", autofocus: true, autocomplete: "email"  %>
      </div>
    
      <div class="mb-3 form-check">
        <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
      </div>
      <% arr = [] %>
      <% links_html = render "devise/shared/links" %>
      <% nokogiri_doc = Nokogiri::HTML(links_html) %>
      <% nokogiri_doc.css('a').each do |link| %>
        <br>
        <% if link.present? %>
          <div class="btn btn-primary text-body-secondary">
            <%= render inline: link.to_html %>
          </div>
        <% end %>
        <br>
      <% end %>

    </div>
  </div>
  
<% end %>