<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Устанавливаем минимальную высоту страницы равную высоте видимой области браузера */
    display: flex;
    flex-direction: column;
  }

  #no_body_styles {
    min-height: 83vh;
  }

  </style>
</head>
<body>
  <% if alert.present? %>
    <p class="alert alert-success"><%= alert %></p>
  <% end %>


  <%= render partial: 'shared/notice_errors' %>

  <%= render 'partials/navbar' %>

  <div id="no_body_styles">
    <%= render partial: 'shared/tags', locals: { tags: @tags } %>
    <br>

    <%= render 'shared/index_content' %>
  </div>

  <div class="text-center">
    <%= render 'partials/footer' %>
  </div>
</body>
</html>